body {
    margin: 0;
}

@font-face {
    src: url('../fonts/CursedTimerUlil-Aznm.ttf');
    font-family: CursedTimer;
}

#main-container {
    width: 575px;
    height: 385px;
    margin: 70px auto;
    background-color: #1B244A;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
}

.section-container {
    margin-top: 35px;
    text-align: center;
}

.board-title {
    color: #EEE;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-size: 36px;
}

.score-container {
    background-color: #080001;
    width: 155px;
    height: 120px;
    border-radius: 10px;
    text-align: center;
}

.score-count {
    font-family: CursedTimer, sans-serif;
    color: #F94F6D;
    font-size: 75px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    margin: 0;
}

.score-btns {
    width: 155px;
    height: 45px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.score-btn {
    width: 45px;
    height: 45px;
    background-color: #1B244A;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    color: #9AABD8;
    font-family: CursedTimer, sans-serif;
    font-size: 20px;
}