body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#main-container {
    background-color: #00512C;
    width: 700px;
    height: 550px;
    margin: 50px auto;
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: goldenrod;
    text-transform: uppercase;
    font-size: 52px;
    font-weight: bold;
    margin-top: 0;
    padding-top: 40px;
}

p {
    color: white;
    font-size: 28px;
    font-weight: 700;
}

#game-btns {
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: center;
    margin: 35px auto;
}

.game-btn {
    width: 250px;
    color: #016F32;
    background-color: goldenrod;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}

.game-btn:hover {
    background-color: rgb(237, 172, 7);
}